.navbar {
    background-color: black !important;
  }
.navbar-nav {
    display: flex !important;
    justify-content: center !important; /* Center the navbar content */
  align-items: center !important;
  width: 100%;
  text-align: center;
  color: aliceblue !important;
  }
  .navbar-nav .nav-item {
    color: rgb(18, 132, 231) !important;
    padding: 0 10px; /* Add padding between navbar items */
  }
@media (max-width: 991.98px) { /* Apply styles when navbar is collapsed */
    .navbar-nav {
        display: block !important; /* Change display to block for collapsed navbar */
        text-align: left !important; 
    }
}
.navbar-light .navbar-toggler {
    border-color: white !important;
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
img{
    height: 28px;
}
a:hover{
  color: rgb(231, 200, 66) !important;
}
